In [85]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [86]:
# Scrapes the given URL, selects the desired data and returns it in a Pandas DataFrame
# Based on: https://www.geeksforgeeks.org/scrape-imdb-movie-rating-and-details-using-python/
def scraper():
  url = 'http://www.imdb.com/chart/top'
  response = requests.get(url)
  soup = BeautifulSoup(response.text, "html.parser")

  # Selecting the desired data from the site
  movies = soup.select('td.titleColumn')
  ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
  number_of_ratings = [c.attrs.get('data-value') for c in soup.select('td.posterColumn span[name=nv]')]

  # Building the DataFrame from a list of dictionaries containing the data
  list = []
  for index in range(20):
      movie_string = movies[index].get_text()
      movie = (' '.join(movie_string.split()).replace('.', ''))
      movie_title = movie[len(str(index))+1:-7]
      data = {"movie_title": movie_title,
              "rating": round(float(ratings[index]),1),
              "number_of_ratings": number_of_ratings[index]
              }
      list.append(data)
  return pd.DataFrame(list)

In [87]:
df = scraper()
df[['adjusted_rating']]=df[['rating']]
df

,movie_title,rating,number_of_ratings,adjusted_rating
0,The Shawshank Redemption,9.2,2603966,9.2
1,The Godfather,9.2,1799327,9.2
2,The Dark Knight,9.0,2575476,9.0
3,The Godfather Part II,9.0,1239344,9.0
4,12 Angry Men,8.9,769321,8.9
5,Schindler's List,8.9,1324042,8.9
6,The Lord of the Rings: The Return of the King,8.9,1788058,8.9
7,Pulp Fiction,8.9,1995736,8.9
8,The Lord of the Rings: The Fellowship of the Ring,8.8,1809090,8.8
9,"The Good, the Bad and the Ugly",8.8,746575,8.8
10,Forrest Gump,8.8,2012102,8.8
11,Fight Club,8.7,2051111,8.7
12,Inception,8.7,2284788,8.7
13,The Lord of the Rings: The Two Towers,8.7,1614803,8.7
14,Star Wars: Episode V - The Empire Strikes Back,8.7,1260423,8.7
15,The Matrix,8.7,1869119,8.7
16,Goodfellas,8.7,1126227,8.7
17,One Flew Over the Cuckoo's Nest,8.6,988191,8.6
18,Se7en,8.6,1598755,8.6
19,Seven Samurai,8.6,340668,8.6